
.idea/Visual-calculator-in-python.iml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
__pycache__/gui.cpython-37.pyc
__pycache__/functions.cpython-37.pyc
__pycache__/cal.cpython-37.pyc
.idea/dictionaries/Antoniol_pc.xml
